@charset "utf-8";
/* CSS Document */
html{
    height: 100vh;
    overflow: hidden;
}
body{
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

button{
    border: none;
    outline: none;
}button:focus{
    border: none;
    outline: none;
}

h1{
    font-size: 100px;
}

h2{
    font-size: 80px;
}

p{
    font-size: 60px;
}

.cont{
    width: 90%;
    margin: auto auto;
}

#rotate{
    width: 100%;
    height: 100vh;
    background: url(../img/Rotatedevice.png) center;
    background-color: #c0c0c0;
    background-size: contain;
    position: absolute;
    display: none;
    z-index: 100;
}

#rotatep{
    width: 100%;
    height: 100vh;
    background: url(../img/Rotatedeviceport.png) center no-repeat;
    background-color: #c0c0c0;
    background-size: contain;
    position: absolute;
    display: none;
    z-index: 600;
}

/*
╭━╮╭━┳━━━┳━╮╱╭┳╮╱╭╮
┃┃╰╯┃┃╭━━┫┃╰╮┃┃┃╱┃┃
┃╭╮╭╮┃╰━━┫╭╮╰╯┃┃╱┃┃
┃┃┃┃┃┃╭━━┫┃╰╮┃┃┃╱┃┃
┃┃┃┃┃┃╰━━┫┃╱┃┃┃╰━╯┃
╰╯╰╯╰┻━━━┻╯╱╰━┻━━━╯
*/

.menu-button{
    width: 100px;
    height: 300px;
    position: absolute;
    z-index: 100;
    background: rgba(80, 80, 80, 0.78);
    border-radius: 0% 50% 50% 0%;
    border-style: solid;
    border-color: rgba(80, 80, 80, 0.78);
    border-top-color: #fff;
    border-right-color: #fff;
    border-bottom-color: #fff;
    top: 50%;
    transform: translateY(-50%);
}

.menu-button p{
    font-size: 50px;
    color: #fff;
    transform: rotate(-90deg);
    line-height: 240px;
}

.menu{
    z-index: 100;
    position: absolute;
    background: rgba(0,0,0, 0.71);
    width: 100%;
    height: 100vh;
    display: none;
    z-index: 100;
}

.mcont{
    width: 90%;
    margin: auto;
    height: 50vh;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.mcont a{
    text-transform: uppercase;
    font-size: 100px;
    color: #fff;
    font-weight: 700;
    display: block;
    width: 100%;
    text-align: center;
    margin: 0;
    padding: 50px 0;
}

/*
╭╮╱╭┳━━━┳━╮╭━┳━━━╮
┃┃╱┃┃╭━╮┃┃╰╯┃┃╭━━╯
┃╰━╯┃┃╱┃┃╭╮╭╮┃╰━━╮
┃╭━╮┃┃╱┃┃┃┃┃┃┃╭━━╯
┃┃╱┃┃╰━╯┃┃┃┃┃┃╰━━╮
╰╯╱╰┻━━━┻╯╰╯╰┻━━━╯
*/

#home{
    background: url(../img/home-background.jpg) no-repeat;
    background-position: center;
    background-size: 1900px 2136px;
    width: 100%;
    height: 100vh;
    z-index: 1;
    position: absolute;
}

.overlay{
    width: 100%;
    height: 100vh;
    background: rgba(20, 20, 20, 0.71);
}

.header{
    width: 100%;
    height: auto;
    overflow: auto;
    z-index: 100;
}

.header img{
    display: block;
    width: 400px;
    float: left;
    margin: 20px;
}

.header p{
    font-size: 50px;
    margin: 20px;
    color: #fff;
    float: right;
}

.footer{
    width: 100%;
    height: auto;
    overflow: auto;
    position: absolute;
    bottom: 30px;
    z-index: 100;
}

.footer img{
    display: block;
    width: 300px;
    height: 300px;
    margin: 20px auto;
}

.footer figcaption{
    font-size: 40px;
    color: #fff;
    text-align: center;
}

/*
╭━━━┳━╮╭━┳━━━┳╮╱╱╭━━━┳━━━┳━━━╮
┃╭━━┻╮╰╯╭┫╭━╮┃┃╱╱┃╭━╮┃╭━╮┃╭━━╯
┃╰━━╮╰╮╭╯┃╰━╯┃┃╱╱┃┃╱┃┃╰━╯┃╰━━╮
┃╭━━╯╭╯╰╮┃╭━━┫┃╱╭┫┃╱┃┃╭╮╭┫╭━━╯
┃╰━━┳╯╭╮╰┫┃╱╱┃╰━╯┃╰━╯┃┃┃╰┫╰━━╮
╰━━━┻━╯╰━┻╯╱╱╰━━━┻━━━┻╯╰━┻━━━╯
*/

#explore{
    background:url("../img/wall.jpg")no-repeat center;
	height: 100vh;
    display: none;
}

#cartshow{
    background: rgba(255, 255, 255, 0.82);
    position: absolute;
    z-index: 100;
    top: 0;
    padding: 20px;
    border-bottom-right-radius: 40px;
}

#cartshow h3{
    color: #525252;
    font-weight: 500;
    font-size: 20px;
    margin: 0;
    text-align: center;
}

#carthide{
    background: rgba(255, 255, 255, 0.82);
    position: absolute;
    z-index: 100;
    top: 0;
    padding: 20px;
    border-bottom-right-radius: 40px;
    display: none;
}

#carthide h3{
    color: #525252;
    font-weight: 500;
    font-size: 20px;
    margin: 0;
    text-align: center;
}

#viewauth{
    background: rgba(255, 255, 255, 0.82);
    position: absolute;
    z-index: 100;
    bottom: 0;
    padding: 20px;
    border-top-right-radius: 40px;
}

#viewauth h3{
    color: #525252;
    font-weight: 500;
    font-size: 20px;
    margin: 0;
    text-align: center;
}


#paint-icons{
	height:70px;
	width:70%;
	border-radius: 10px;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	border: 6px solid #ffffff;
	border-top:none;
	margin:0 auto;
    color: #fff;
    display: none;
}

#paint-icons i{
	font-size: 50px;
    line-height: 70px;
	padding: 0 55px;
}

.slide{
	width:50%;
	height: auto;
    overflow: auto;
	position:relative;	
	margin: 0 auto;
    display: none;
}

.slide img{
    width: 100%;
}

.social{
	width: 45px;
    height: 50%;
    background: #C2C2C2;
    float: right;
    position: absolute;
    right: 9px;
    border: #FFFFFF 3px solid;
    border-radius: 10px;
    display: none;
    top: 110px;
}
div .social #text{
	color:#FFFFFF;
	transform: rotate(90deg);	
	width: 0px;
	height: 86px;
	
	
}
#export{
	position: absolute;
	right: 4px;
	top: 8px;
    display: none;
}

#heart{
	width: 70px;
	height: 70px;
	position:absolute;
    right: 4px;
	bottom: 8px;
    display: none;
}

#artist{
    position: absolute;
    display: block;
    bottom: 0;
	width: 50%;
	height: auto;
    overflow: auto;
	margin: 0 25%;
    display: none;
}

#artist p{
    font-size: 20px;
    color: #fff;
    text-align: center;
}

#artist p:last-child{
    text-decoration: underline;
}

#randart{
	height: 100vh;
    position: absolute;
    display: none;
    width: 100%;
    overflow: hidden;
}

#randart img{
    width: 50%;
    height: auto;
    padding-bottom: 100%;
    position: relative;
    left: 30%;
    top: 10%;
}

#paintthin{
	height: 100vh;
    position: absolute;
    top: 60%;
    display: none;
    width: 100%;
    overflow: hidden;
}

#paintthick{
	height: 100vh;
    position: absolute;
    top: 30%;
    display: none;
    width: 100%;
    overflow: hidden;
}

#bucket{
	height: 100vh;
    position: absolute;
    top: 50%;
    display: none;
    width: 100%;
    overflow: hidden;
}

#canvas{
    position: absolute;
    display: block;
    top: 0;
    height: 100vh;
    width: 100%;
    pointer-events: none;
}


@media (orientation: portrait){
    #rotate{
        display: block;
    }
}

@media (orientation: landscape){
    #rotatep{
        display: block;
    }
    .mcont a{
        text-transform: uppercase;
        font-size: 40px;
        color: #fff;
        font-weight: 700;
        display: block;
        width: 100%;
        text-align: center;
        margin: 0;
        padding: 40px 0;
}
    
    .mcont{
        width: 90%;
        margin: auto;
        height: 40vh;
        position: relative;
        top: 0;
        transform: translateY(0);
}
    
    
}

/*
╭━━━┳━━╮╭━━━┳╮╱╭┳━━━━╮
┃╭━╮┃╭╮┃┃╭━╮┃┃╱┃┃╭╮╭╮┃
┃┃╱┃┃╰╯╰┫┃╱┃┃┃╱┃┣╯┃┃╰╯
┃╰━╯┃╭━╮┃┃╱┃┃┃╱┃┃╱┃┃
┃╭━╮┃╰━╯┃╰━╯┃╰━╯┃╱┃┃
╰╯╱╰┻━━━┻━━━┻━━━╯╱╰╯
*/

#about{
	background:url("../img/about-background.jpg")no-repeat;
	height: 100vh;
	background-size: cover;
    display: none;
}

#about h1{
	color: #FFFFFF;
	margin: 0px;
	padding: 20px;
	text-align: center;
}

#about h2{
	color: #FFFFFF;	
	text-align: center;
	margin: 40px 30px;
}

#about p{
	color: #ffffff;
	text-align: center;
	margin: 15px;
}

/*
╭━━━┳━━━┳━━━┳━━━┳━━╮╭━━━┳━━━┳╮╭━╮
┃╭━━┫╭━━┫╭━━┻╮╭╮┃╭╮┃┃╭━╮┃╭━╮┃┃┃╭╯
┃╰━━┫╰━━┫╰━━╮┃┃┃┃╰╯╰┫┃╱┃┃┃╱╰┫╰╯╯
┃╭━━┫╭━━┫╭━━╯┃┃┃┃╭━╮┃╰━╯┃┃╱╭┫╭╮┃
┃┃╱╱┃╰━━┫╰━━┳╯╰╯┃╰━╯┃╭━╮┃╰━╯┃┃┃╰╮
╰╯╱╱╰━━━┻━━━┻━━━┻━━━┻╯╱╰┻━━━┻╯╰━╯
*/

#feedback{
	background:url("../img/blackboard-business-chalkboard-355988.jpg")no-repeat;
	height:100vh;
	background-size:cover;
    display: none;
}

#feedback h1{
	color:#FFFFFF;
	margin:0px;
	padding:20px;
	text-align: center;
}

#feedback p{
	color:#ffffff;
	text-align:center;
    width: 80%;
    margin: 40px auto;
}

#fcont{
    width: 90%;
    height: 50vh;
    position: absolute;
    bottom: 0;
}

#fcont input{
	border-radius: 20px;
    width: 100%;
    height: 100px;
    margin-bottom: 20px;
    font-size: 60px;
}

#fcont input:last-of-type{
	border-radius: 20px;
    width: 100%;
    height: 200px;
}

button{
    width: 100%;
    height: auto;
    padding: 150px;
    background: url(../img/paper-plane-solid.svg) center no-repeat;
    background-size: contain;
}

/*
╭╮╱╭┳━━━┳╮╱╱╭━━━╮
┃┃╱┃┃╭━━┫┃╱╱┃╭━╮┃
┃╰━╯┃╰━━┫┃╱╱┃╰━╯┃
┃╭━╮┃╭━━┫┃╱╭┫╭━━╯
┃┃╱┃┃╰━━┫╰━╯┃┃
╰╯╱╰┻━━━┻━━━┻╯
*/

#help{
    display: none;
    background:url("../img/backgroundhelp.jpg") center no-repeat;
	height:100vh;
	background-size:cover;
}

#help h1{
	color:#FFFFFF;
	margin:0px;
	padding:20px;
	text-align: center;
}

#help p{
	color:#ffffff;
	text-align:center;
}

#hicons{
    width: 80%;
    height: auto;
    margin: auto auto;
}

#hicons img{
    width: calc(100% / 4 - 40px);
    margin-right: 40px;
    height: 200px;
}

#hicons img:last-of-type{
    margin-right: 0;
}

#hsave{
    width: calc(100% / 4 - 40px);
    height: 200px;
    margin: auto auto;
}

#signin button{
    width: 100%;
    height: auto;
    padding: 75px;
    background: url(../img/paper-plane-solid-black.svg) center no-repeat;
    background-size: contain;
    outline: none;
}

#signin{
    display: none;
    text-align: center;
    width: 80%;
    margin: 0 auto;
}

#signin h3{
    font-size: 40px;
}

#loginform{
    width: 90%;
    margin: 0 5% 20px 5%;
}

#signupform{
    width: 90%;
    margin: 0 5% 20px 5%;
}

#signupform input{
    border-radius: 0;
    border: none;
    border-bottom: 3px solid #777777;
    width: 100%;
    height: 100px;
    margin: 0 0 20px 0;
    font-size: 60px;
}

#signin input{
    border-radius: 0;
    border: none;
    border-bottom: 3px solid #777777;
    width: 100%;
    height: 100px;
    margin: 0 0 20px 0;
    font-size: 60px;
}

#signin h2{
    font-size: 100px;
    margin: 0;
}

#password p{
    font-size: 25px;
    color: #0800EF;
    float: right;
}

#passreset{
    display: none;
    text-align: center;
    width: 90%;
    margin: 0 5% 20px 5%;
}

#passreset h3{
    font-size:100px;
    margin: 0;
}

#passreset input{
    border-radius: 0;
    border: none;
    border-bottom: 3px solid #777777;
    width: 100%;
    height: 100px;
    margin: 0 0 20px 0;
    font-size: 60px;
}

#passreset input{
    border-radius: 0;
    border: none;
    border-bottom: 3px solid #777777;
    width: 100%;
    height: 100px;
    margin: 0 0 20px 0;
    font-size: 60px;
}

#passreset button{
    width: 100%;
    height: auto;
    padding: 75px;
    background: url(../img/paper-plane-solid-black.svg) center no-repeat;
    background-size: contain;
    outline: none;
}

#news{
    display: none;
    text-align: center;
}

#news h3{
    font-size: 100px;
    margin: 0;
}

#news button{
    width: 100%;
    height: auto;
    padding: 75px;
    background: url(../img/paper-plane-solid-black.svg) center no-repeat;
    background-size: contain;
    outline: none;
}

#news p{
    color: #1a6f00;
}


#contactauthor button{
    width: 20%;
    height: auto;
    padding: 50px;
    background: url(../img/paper-plane-solid-black.svg) center no-repeat;
    background-size: contain;
    outline: none;
    float: right;
}

#contauth{
    display: none;
    text-align: center;
    width: 80%;
    margin: 0 auto;
}

#contactauthor{
    width: 90%;
    margin: 0 5% 20px 5%;
}

#contactauthor input{
    border-radius: 0;
    border: none;
    border-bottom: 3px solid #777777;
    width: 80%;
    height: 100px;
    margin: 0 0 20px 0;
    font-size: 60px;
    float: left;
}

#contauth h2{
    margin: 0;
}