@charset "utf-8";
/* CSS Document */
body,html{
	height:100%;
	margin:0;
}

.hero{
	background:url("../img/backgroundhelp.jpg")no-repeat;
	height:100vh;
	background-size:cover;
}

.overlay{
	height:100vh;
	width:100%;
	background:rgba(20,20,20,0.71);
}

h1{
	color:#FFFFFF;
	margin:0px;
	padding:20px;
	text-align: center;
}

p1{
	color:#ffffff;
	text-align:center;
}
p2{
	color:#ffffff;
	text-align:center;
}
p3{
	color:#ffffff;
	text-align:center;
}
p4{
	color:#ffffff;
	text-align:center;
}
p5{
	color:#ffffff;
	text-align:center;
}

.container{
	width: 80%;
	height: auto;
	overflow: auto;
	margin: auto;
}

.section1{
	width: 100%;
	height:auto;
	text-align: center;
}

.section2{
	width: 100%;
	height:auto;
	text-align: center;
}

.section3{
	width:100%;
	height:auto;
	text-align:center;
	color:#ffffff
}

.section4{
	width:100%;
	height:auto;
	text-align:center;
}

.section5{
	width:100%;
	height:auto;
	text-align:center;
}
