@charset "utf-8";
/* CSS Document */

body{
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

h1{
    font-size: 100px;
}

h2{
    font-size: 80px;
}

p{
    font-size: 60px;
}

.cont{
    width: 90%;
    margin: auto auto;
}

#rotate{
    width: 100%;
    height: 100vh;
    background: url(../img/Rotatedevice.png) center;
    background-color: #c0c0c0;
    background-size: contain;
    position: absolute;
    display: none;
    z-index: 100;
}

#rotatep{
    width: 100%;
    height: 100vh;
    background: url(../img/Rotatedeviceport.png) center no-repeat;
    background-color: #c0c0c0;
    background-size: contain;
    position: absolute;
    display: none;
    z-index: 600;
}

/*
╭━╮╭━┳━━━┳━╮╱╭┳╮╱╭╮
┃┃╰╯┃┃╭━━┫┃╰╮┃┃┃╱┃┃
┃╭╮╭╮┃╰━━┫╭╮╰╯┃┃╱┃┃
┃┃┃┃┃┃╭━━┫┃╰╮┃┃┃╱┃┃
┃┃┃┃┃┃╰━━┫┃╱┃┃┃╰━╯┃
╰╯╰╯╰┻━━━┻╯╱╰━┻━━━╯
*/

.menu-button{
    width: 100px;
    height: 300px;
    position: absolute;
    z-index: 100;
    background: rgba(80, 80, 80, 0.78);
    border-radius: 0% 50% 50% 0%;
    border-style: solid;
    border-color: rgba(80, 80, 80, 0.78);
    border-top-color: #fff;
    border-right-color: #fff;
    border-bottom-color: #fff;
    top: 50%;
    transform: translateY(-50%);
}

.menu-button p{
    font-size: 50px;
    color: #fff;
    transform: rotate(-90deg);
    line-height: 240px;
}

.menu{
    z-index: 100;
    position: absolute;
    background: rgba(0,0,0, 0.71);
    width: 100%;
    height: 100vh;
    display: none;
    z-index: 100;
}

.mcont{
    width: 90%;
    margin: auto;
    height: 50vh;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.mcont a{
    text-transform: uppercase;
    font-size: 100px;
    color: #fff;
    font-weight: 700;
    display: block;
    width: 100%;
    text-align: center;
    margin: 0;
    padding: 50px 0;
}

/*
╭╮╱╭┳━━━┳━╮╭━┳━━━╮
┃┃╱┃┃╭━╮┃┃╰╯┃┃╭━━╯
┃╰━╯┃┃╱┃┃╭╮╭╮┃╰━━╮
┃╭━╮┃┃╱┃┃┃┃┃┃┃╭━━╯
┃┃╱┃┃╰━╯┃┃┃┃┃┃╰━━╮
╰╯╱╰┻━━━┻╯╰╯╰┻━━━╯
*/

#home{
    background: url(../img/home-background.jpg) no-repeat;
    background-position: center;
    background-size: 1900px 2136px;
    width: 100%;
    height: 100vh;
    z-index: 1;
    position: absolute;
}

.overlay{
    width: 100%;
    height: 100vh;
    background: rgba(20, 20, 20, 0.71);
}

.header{
    width: 100%;
    height: auto;
    overflow: auto;
    z-index: 100;
}

.header img{
    display: block;
    width: 400px;
    float: left;
    margin: 20px;
}

.header p{
    font-size: 50px;
    margin: 20px;
    color: #fff;
    float: right;
}

.footer{
    width: 100%;
    height: auto;
    overflow: auto;
    position: absolute;
    bottom: 30px;
    z-index: 100;
}

.footer img{
    display: block;
    width: 300px;
    height: 300px;
    margin: 20px auto;
}

.footer figcaption{
    font-size: 40px;
    color: #fff;
    text-align: center;
}
















#explore{
    background:url("../img/wall.jpg")no-repeat;
	height: 100vh;
	background-size: cover;
    display: none;
}

#paint-icons{
	height:70px;
	width:70%;
	border-radius: 10px;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	border: 6px solid #ffffff;
	border-top:none;
	margin: 0 auto;
}

#paint-icons img{
	display: inline;	
	height: 70px;
	color: #fff;
	padding: 0 22px;
	margin: 0;
}

section{
	height: 30px;
	width: 667px;
}

div .slide{
	width:221px;
	height: 30px;
	position:relative;	
	margin: 0 auto;
}

div .social{
	width: 45px;
	height:175px;
	background:#C2C2C2;	
	float:right;
	position: relative;
	right: 9px;
	border:#FFFFFF 3px solid;
	border-radius: 10px;
}
div .social #text{
	color:#FFFFFF;
	transform: rotate(90deg);	
	width: 0px;
	height: 86px;
	
	
}
#export{
	position: absolute;
	right: 4px;
	top: 8px;
}

#heart{
	width: 70px;
	height: 70px;
	float:right;
	position:relative;
	bottom: 87px;
}

#Artist{
	width: 150px;
	height: 100px;
	margin: 0 auto;
	padding-top: 212px;
}

#Artist h3{
	color: #ffffff;
}

#Artist h4{
	color: #ffffff;
}

@media (orientation: portrait){
    #rotate{
        display: block;
    }
}

@media (orientation: landscape){
    #rotatep{
        display: block;
    }
}

/*
╭━━━┳━━╮╭━━━┳╮╱╭┳━━━━╮
┃╭━╮┃╭╮┃┃╭━╮┃┃╱┃┃╭╮╭╮┃
┃┃╱┃┃╰╯╰┫┃╱┃┃┃╱┃┣╯┃┃╰╯
┃╰━╯┃╭━╮┃┃╱┃┃┃╱┃┃╱┃┃
┃╭━╮┃╰━╯┃╰━╯┃╰━╯┃╱┃┃
╰╯╱╰┻━━━┻━━━┻━━━╯╱╰╯
*/

#about{
	background:url("../img/about-background.jpg")no-repeat;
	height: 100vh;
	background-size: cover;
    display: none;
}

#about h1{
	color: #FFFFFF;
	margin: 0px;
	padding: 20px;
	text-align: center;
}

#about h2{
	color: #FFFFFF;	
	text-align: center;
	margin: 40px 30px;
}

#about p{
	color: #ffffff;
	text-align: center;
	margin: 15px;
}

/*
╭━━━┳━━━┳━━━┳━━━┳━━╮╭━━━┳━━━┳╮╭━╮
┃╭━━┫╭━━┫╭━━┻╮╭╮┃╭╮┃┃╭━╮┃╭━╮┃┃┃╭╯
┃╰━━┫╰━━┫╰━━╮┃┃┃┃╰╯╰┫┃╱┃┃┃╱╰┫╰╯╯
┃╭━━┫╭━━┫╭━━╯┃┃┃┃╭━╮┃╰━╯┃┃╱╭┫╭╮┃
┃┃╱╱┃╰━━┫╰━━┳╯╰╯┃╰━╯┃╭━╮┃╰━╯┃┃┃╰╮
╰╯╱╱╰━━━┻━━━┻━━━┻━━━┻╯╱╰┻━━━┻╯╰━╯
*/

#feedback{
	background:url("../img/blackboard-business-chalkboard-355988.jpg")no-repeat;
	height:100vh;
	background-size:cover;
    display: none;
}

#feedback h1{
	color:#FFFFFF;
	margin:0px;
	padding:20px;
	text-align: center;
}

#feedback p{
	color:#ffffff;
	text-align:center;
    width: 80%;
    margin: 40px auto;
}

#fcont{
    width: 90%;
    height: 50vh;
    position: absolute;
    bottom: 0;
}

input{
	border-radius: 20px;
    width: 100%;
    height: 100px;
    margin-bottom: 20px;
    font-size: 60px;
}

input:last-of-type{
	border-radius: 20px;
    width: 100%;
    height: 200px;
}

button{
    width: 100%;
    height: auto;
    padding: 150px;
    background: url(../img/paper-plane-solid.svg) center no-repeat;
    background-size: contain;
}

/*
╭╮╱╭┳━━━┳╮╱╱╭━━━╮
┃┃╱┃┃╭━━┫┃╱╱┃╭━╮┃
┃╰━╯┃╰━━┫┃╱╱┃╰━╯┃
┃╭━╮┃╭━━┫┃╱╭┫╭━━╯
┃┃╱┃┃╰━━┫╰━╯┃┃
╰╯╱╰┻━━━┻━━━┻╯
*/

#help{
    display: none;
    background:url("../img/backgroundhelp.jpg") center no-repeat;
	height:100vh;
	background-size:cover;
}

#help h1{
	color:#FFFFFF;
	margin:0px;
	padding:20px;
	text-align: center;
}

#help p{
	color:#ffffff;
	text-align:center;
}

#hicons{
    width: 80%;
    height: auto;
    margin: auto auto;
}

#hicons img{
    width: calc(100% / 4 - 40px);
    margin-right: 40px;
    height: 200px;
}

#hicons img:last-of-type{
    margin-right: 0;
}

#hsave{
    width: calc(100% / 4 - 40px);
    height: 200px;
    margin: auto auto;
}

